*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header {

}
body {
font-family: Arial, sans-serif;
line-height: 1.6;
position: relative;
overflow-x: hidden;
}

#video {
position: fixed;
right: 0;
bottom: 0;
width: 100vw;
height: 100vh;
object-fit: cover;
z-index: -1;
}

@keyframes fadeInOverlay {
to { opacity: 1; }
}

.content, .container {
width: 80%;
max-width: 800px;
margin: 20px auto;
padding: 20px;
background-color: rgba(255, 255, 255, 0.473);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
border-radius: 8px;
opacity: 0;
display: none;
animation: fadeIn 1s forwards;
}

.content {
width: 40%;
text-align: center;
}

@keyframes fadeIn {
to { opacity: 1; transform: translateY(0); }
}
.section {
margin-bottom: 20px;
display: none;
}

.section.active {
display: block;
}

.section h2 {
color: #4d7cda;
margin-bottom: 15px;
}

.section ul {
list-style: none;
}

.section ul li {
display: flex;
align-items: center;
padding: 8px 0;
}

.section ul li img {
width: 30px;
height: 30px;
margin-right: 10px;
}

.section a {
color: #4d7cda;
text-decoration: none;
}

.section a:hover {
color: #4c6ba8;
}

#scrollToTopBtn {
position: fixed;
bottom: 20px;
right: 20px;
padding: 20px;
background-color: #4d7cda9f;
color: white;
border: none;
border-radius: 50%;
cursor: pointer;
z-index: 1000;
font-size: 28px;
width: 60px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.5s ease;
}

#scrollToTopBtn.visible {
opacity: 1;
}

#scrollToTopBtn:hover {
background-color: #4c6ba8c9;
}

@media (max-width: 768px) {
.content, .container { width: 90%; }
.navbar a { padding: 8px 15px; }
}
