.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 9999;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    animation: fadeInOverlay 1s forwards;
    text-align: center;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.05);
}

.overlay span {
    display: inline-block;
    opacity: 0;
    animation: fadeInText 1.5s forwards;
}

@keyframes fadeInOverlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#Video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    position: relative;
}

footer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    position: relative;
}

footer:hover {
    background-color: rgba(180, 168, 168, 0.8);
}

footer p {
    color: black;
}

.container {
    width: 40%;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.425);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.897);
    border-radius: 8px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    animation: fadeIn 1.5s forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #4d7cda;
    margin-bottom: 10px;
}

.chaomung {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 1.1rem;
}

.section ul li img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.section a {
    color: #4d7cda;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section a:hover {
    color: #4c6ba8;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    header {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .section ul li {
        font-size: 1rem;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .chaomung h2 {
        font-size: 1.3rem;
    }

    .section ul li {
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.8rem;
    }
}